//Empty scss in anticpation for page-home.php








// VIDEO
// .mov{
//     overflow: hidden;
// }
// .homepage {
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     #big-video {
//       display: unset;
//     }
//     .boxed {
//       display: flex;
//       flex-direction: column;
//       justify-content: space-evenly;
//       align-items: center;
//       height: 100vh;
//       position: absolute;
//       width: 100%;
//       z-index: 5;
//     }
//     .intro {
//       width: 30rem;
//       height: 26rem;
//       bottom: 2rem;
//       color: $font-yellow;
//       text-align: center;
//     }
//     .intro-headers {
//       display: flex;
//       flex-direction: column;
//       justify-content: space-evenly;
//       position: relative;
//       top: 2rem;
//       height: 120px;
//     }
//     .logo {
//       width: 150px;
//     }
//     .icon-box {
//       width: 280px;
//       display: flex;
//       justify-content: space-around;
//       align-items: center;
//     }
//     .icon-size {
//       height: 3rem;
//     }
//     .video-still {
//       display: none;
//     }
//     .placeholder {
//       height: 100vh;
//       min-height: -webkit-fill-available;
//       background-position: center;
//       background-repeat: no-repeat;
//       background-size: cover;
//     }
//     .placeholder:before {
//       content: "";
//       position: absolute;
//       min-height: -webkit-fill-available;
//       left: 0; right: 0;
//       top: 0; bottom: 0;
//       background: rgba(0,0,0,.6);
//       height: 100vh;
//     }
  
//     /* ---------------------------------------------- */
//     /* Media Queries                                  */
//     /* ---------------------------------------------- */
//     @media only screen and (min-width: 576px) {
//       .intro {
//         width: 40rem;
//         height: 48rem;
//         display: flex;
//         flex-direction: column;
//         justify-content: space-around;
//         align-items: center;
//         text-align: center;
//         font-family: "Noto", sans-serif;
//         color: #ebbc4e;
//         position: relative;
//         bottom: 11rem;
//       }
//       .logo {
//         width: 220px;
//       }
//       .intro-headers {
//         h1 {
//           font-size: 3.5rem;
//         }
//         h2 {
//           font-size: 2.5rem;
//         }
//       }
//       .icon-box {
//         position: relative;
//         bottom: 5rem;
//       }
//     }
//     @media only screen and (min-width: 768px) {
  
//         background-color: black;
//         height: 100vh;
      
//       #big-video {
//         overflow: hidden;
//       }
//       .boxed {
//         display: flex;
//         justify-content: center;
//         align-self: center;
//       }
//       .mov {
//         display: flex;
//         justify-content: center;
//         position: relative;
//         height: 80vh;
//         max-height: 100vh;
//       }
//       .mov:before {
//         content: "";
//         position: absolute;
//         left: 0; right: 0;
//         top: 0; bottom: 0;
//         background: rgba(0, 0, 0, 0.5);
//       }
//       .video-still {
//         width: 100%;
//         height: 100vh;
//         overflow: hidden;
//       }
//       .intro {
//         width: 50rem;
//         height: 50rem;
//         display: flex;
//         bottom: 2rem;
//       }
//       .logo {
//         width: 23rem;
//       }
//       .intro-headers {
//         height: 50rem;
//       }
//       h1 {
//         font-size: 4rem;
//       }
//       h2 {
//         font-size: 2.5rem;
//       }
//       .icon-box {
//         bottom: 0rem; 
//       }
//     }
//   }



//QUOTE



//CARDS
// .yellow{
//     background-color: $font-yellow;
//     height: 40rem;
// }
// .card{
//     background-color: $font-blue;
//     height: 35rem;
//     margin-top: 3rem;
// }