/**
 * partials/single-wc-post
 * ---
 */
.post-setup {
    font-family: $font-family-base;
    font-size: $font-size-base;
}

.post-title {
    display: flex;
    justify-content: center;
    font-family: $font-family-base;
}